/* body{
    margin:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.video video{
    width: 700px;
    height: 50%;
    border-radius: 10px;
}
.controls_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}
.controls_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}
.timer{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.progress_bar{
    margin-top: 10px;
}
.progress_out{
    /* border:1px solid black; */
    /* background-color: black;
    width: 100%;
    height:7px;
    border-radius: 10px;
}
.progress_in{
    /* border:1px solid orange; */
    /* background-color: orange;
    width: 30%;
    height:7px;
    border-radius: 10px;
}
.volumebar_out{ */
    /* border:1px solid black; */
    /* background-color: black;
    width: 150px;
    height:7px;
    border-radius: 10px;
}
.volumebar_in{ */
    /* border:1px solid orange; */
    /* background-color: orange;
    width: 30%;
    height:7px;
    border-radius: 10px;
}  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.video_container {
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
}

.video video {
    width: 100%;
    height: auto;
}

.progress_bar {
    position: relative;
    width: 100%;
    height: 5px;
    background: #444;
    cursor: pointer;
}

.progress_out {
    width: 100%;
    height: 100%;
}

.progress_in {
    width: 0;
    height: 100%;
    background: #f00;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #222;
}

.controls_left,
.controls_right {
    display: flex;
    align-items: center;
    gap:5px;
}

.play,
.volume,
.full_time {
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.volume_bar,
.speed {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.volumebar_out {
    width: 100px;
    height: 5px;
    background: #444;
    cursor: pointer;
    position: relative;
}

.volumebar_in {
    width: 50%;
    height: 100%;
    background: #f00;
}

.speed select {
    background: #444;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.timer {
    color: #fff;
    font-size: 14px;
    display: flex;
}

.full_time i {
    font-size: 24px;
    color: #fff;
}

@media (max-width: 600px) {
    .controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .controls_right {
        margin-top: 10px;
        justify-content: space-between;
        width: 100%;
    }

    .speed select,
    .timer {
        font-size: 12px;
    }
}
